body > div {
  margin-top: 10rem;
  width: 100%;
  height: 50vh;
  display: flex;
  column-gap: 0.8rem;
  padding: 1rem 2rem;
  > section {
    background-color: $light;
    padding: 5rem 3rem;
    text-align: center;
    flex: 2;
    > h1 {
      font-size: 3rem;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 2rem;
    }
    > p {
      font-size: 1.8rem;
    }
  }
  > aside {
    flex: 3;
    border-radius: 8px;
    width: 100%;
    background: url("../images/ferrari.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 2 / 3;
  }
}
