$primary: #3b71ca;
$secondary: #9fa6b2;
$success: #14a44d;
$danger: #dc4c64;
$warning: #e4a11b;
$info: #54b4d3;
$light: #fbfbfb;
$dark: #332d2d;
$dark-blue: #34495e;
$midnight-blue: #2c3e50;

$box-size: 900px;

$transition: all 0.6s ease-in-out;

$shadow-sm: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$shadow-md: rgba(0, 0, 0, 0.35) 0px 5px 15px;
